.appBar {
  height: 70px;
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  margin-left: 40px;
}

.stackCategories {
  margin-right: auto;
  margin-left: 30px;
}

.toolBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.input {
  border: 1px solid whitesmoke;
  border-radius: 4px;
  padding: 5px;
  height: 30px;
  margin-right: 30px;
}

.iconContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 40px;
}

.iconButton {
  margin-left: 10px;
}

.input input::placeholder {
  color: whitesmoke; /* Boja teksta placeholder-a */
  opacity: 1;
  font-size: 14px;
}

/* Stilizovanje za OutlinedInput kada je fokusiran */
.input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: none; /* Postavlja boju bordera na transparent */
}

#resources-menu {
  width: 300px;
}
